* {
  box-sizing: border-box;
}

.card {
  align-items: center;
  max-height: 300px;
  max-width: 600px;
  margin: 15px auto;
  font-family: "Roboto Mono", monospace;
}

.card-img-top {
  height: 300px;
  width: 0 auto;
  filter: brightness(80%);
}

.card-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  padding: 5px 15px 0px 0px;
}

.card-subtitle {
  list-style-type: none;
  color: white;
  text-align: right;
  padding-right: 15px;
}

.searchBar {
  position: absolute;
  top: 30px;
  left: 25px;
}

input[type="text"] {
  padding-left: 15px;
  font-size: 15px;
}

#search-city {
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 250px;
  color: grey;
  font-weight: 500;
  transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

#search-city:hover {
  outline-style: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0.5, 0.5);
}
#search-city:focus {
  outline-style: none;
}

.button {
  color: grey;
  font-size: 18px;
  width: 20px;
  position: relative;
  top: -25px;
  left: 223px;
  cursor: pointer;
}

.button:hover {
  color: dimgray;
}

#temperature {
  font-size: 30px;
  font-weight: 700;
  color: grey;
  float: right;
  padding-top: 15px;
  letter-spacing: -0.5px;
}

.card-body {
  max-height: 200px;
  border: 1.5px solid grey;
  border-radius: 0px 0px 10px 10px;
}

.weather-icon {
  padding-left: 15px;
}

.current-weather {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  color: grey;
  line-height: 2;
  padding-top: -5px;
}

.weekly-weather {
  margin-right: 10px;
  line-height: 1.6;
}

.day-of-week {
  font-size: 14px;
  font-weight: 500;
  color: grey;
  text-align: center;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 0 auto;
}

/* при изменение картинок на SVG ! не забыть изменить здесь название стиля */
img.weekly-weather {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.temperature-week {
  color: grey;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

span.degree-down {
  font-weight: 300;
}
